body,
html,
p,
div,
ul,
li {
  font-size: var(--fs-400, 16px);
  font-family: var(--font-main);
}
p {
  margin: 0.5rem 0;
}
h1 {
  font-size: var(--fs-1000, 30px);
}
h2 {
  font-size: var(--fs-900, 30px);
}
h3 {
  font-size: var(--fs-800, 27px);
}
h4 {
  font-size: var(--fs-700, 25px);
}
h5 {
  font-size: var(--fs-600, 25px);
}
h6 {
  font-size: var(--fs-500, 20px);
}
a {
  transition: color 0.4s ease;
}
.hero-title {
  font-size: clamp(40px, 5vw, 80px);
}
.section-header-s {
  font-size: clamp(28px, 2.5vw, 45px);
}
.section-header-m {
  font-size: clamp(30px, 3vw, 52px);
}
.section-header-xl {
  font-size: clamp(26px, 3.75vw, 60px);
}
.has-text-decoration,
.is-style-has-text-decoration-white,
.is-style-has-text-decoration-primary {
  position: relative;
  margin-bottom: 40px;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 2px;
    width: 130px;
    background: white;
  }

  &.text-decoration-is-centered::after,
  &.has-text-align-center::after {
    left: 50%;
    transform: translateX(-50%);
  }
}

.is-style-has-text-decoration-primary::after {
  background: var(--clr-primary);
}

h1,h2,h3,h4,h5,h6 {
  a {
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
}