.site-branding {
  .header-logo-link {
    display: block;
    height: var(--max-logo-height);
    margin-right: 20px;
    .header-logo {
      height: var(--max-logo-height, calc(var(--header-height) - 2rem));
      max-width: 65vw;
      object-fit: contain;
      @media screen and (min-width: $tablet) {
        max-width: none;
        object-fit: none;
      }
    }
  }
}
