@import "hero";
@import "mission";
@import "featured-content";
@import "featured-buttons";
@import "content-slider";
@import "mass-times";
@import "calendar";
@import "news";
@import "feed";
@import "gallery";
@import "contact";
@import "testimonials";
@import "welcome";
@import "cols";
@import "parishes";
@import "parishes-carousel";
@import "parishes-slider";
