.calendar-container {
  --inner-width: 90%;
  --weekly-padding-bottom: 110px;

  margin-top: var(--homepage-section-spacing);
  z-index: 1;
  position: relative;
  text-align: center;
  padding: 0%;
  max-width: 100%;
  overflow: hidden;
  width: 100%;

  @media screen and (min-width: $laptop) {
    --inner-width: 85%;
  }

  .simcal-default-calendar-list {
    min-height: 0;
  }

  .calendar-heading {
    text-align: center;
    font-size: clamp(38px, 3vw, 48px);
    margin-top: 0;
  }

  .simcal-calendar-head {
    display: none;
  }

  .calendar-weekday-slick {
    max-width: var(--inner-width);
    margin-inline: auto;
    padding-bottom: var(--weekly-padding-bottom);
    border-bottom: 1px solid var(--clr-quaternary);

    @media screen and (min-width: $desktop) {
      --weekly-padding-bottom: 40px;
    }

    .slick-arrow {
      top: auto;
      bottom: 0;
      background: white;
      border-color: var(--clr-quaternary);

      &::before {
        color: var(--clr-quaternary);
      }

      &:hover {
        background: var(--clr-quaternary);
      }

      &:hover::before {
        color: white;
      }

      &.slick-prev {
        left: 50%;
        translate: -110%;
      }

      &.slick-next {
        left: auto;
        right: 50%;
        translate: 110%;
      }
    }

    .slick-list {
      text-align: center;
      max-width: 90%;
      margin-inline: auto;
    }

    .simcal-day-label {
      min-height: 50px;
      margin-inline: 5px;
      border-bottom: 0 !important;

      > span {
        cursor: pointer;
        border-radius: 15px;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent !important;
        border: 1px solid var(--clr-primary);
        outline: 1px solid var(--clr-primary-st);
        outline-offset: 3px;
        margin: 4px;
        padding: 10px;

        .simcal-date-format {
          color: var(--clr-primary) !important;
          font-size: clamp(20px, 3vw, 24px);
          font-weight: bold;
          background-color: transparent !important;
        }

        &:hover {
          border-color: var(--clr-secondary);
          outline-color: var(--clr-secondary-st);

          .simcal-date-format {
            color: var(--clr-secondary) !important;
          }
        }

        &.simcal-today {
          background-color: var(--clr-primary) !important;
          border-color: var(--clr-primary) !important;
          outline-color: var(--clr-primary-st) !important;

          .simcal-date-format {
            color: white !important;
          }
        }

        &.simcal-current,
        &.simcal-current:hover {
          background-color: var(--clr-secondary) !important;
          border-color: var(--clr-secondary) !important;
          outline-color: var(--clr-secondary-st) !important;

          .simcal-date-format {
            color: #fff !important;
          }
        }
      }
    }
  }

  .calendar-event-slick {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 130px;
    max-width: var(--inner-width);
    margin-inline: auto;

    dd.simcal-day {
      margin: 0;

      .simcal-events,
      .simcal-events-toggle {
        display: none;

        &.simcal-visible {
          display: block;
          padding: 0;
          margin: auto 0 10px;

          .simcal-event {
            margin: 0;
            padding: 30px 0;
            text-align: left;
            border-bottom: 1px solid var(--clr-quaternary);

            > .simcal-event-title {
              display: none;
            }

            + .simcal-event {
              margin-top: 10px;
            }

            .simcal-event-details {
              max-width: 90%;
              margin-inline: auto;
            }

            .event-date-wrapper {
              color: var(--clr-font);
              font-weight: bold;
              font-size: 22px;
            }

            .event-title {
              margin-block: 22px 15px;

              .simcal-event-title {
                font-family: var(--font-heading);
                font-weight: bold;
                font-size: 30px;
              }
            }
          }
        }
      }

      .simcal-event {
        list-style: none;

        .simcal-event-details {
          display: flex !important;
        }
      }
    }
  }

  @media screen and (min-width: $laptop) {
    .calendar-weekday-slick {
      .slick-arrow {
        top: calc(50% - (var(--weekly-padding-bottom) / 2));
        transform: translateY(-50%);

        &.slick-prev {
          left: 35px;
        }

        &.slick-next {
          right: 35px;
        }
      }
    }
  }

  .view-all-link-wrapper {
    margin-top: 30px;
  }
}
