.welcome-container {
  position: relative;
  text-align: center;
  padding-block: 80px 220px;

  .welcome-line {
    color: var(--color);
    margin-block: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--overlay);
  }

  .welcome-line {
    font-size: clamp(34px, 4vw, 42px);
    // font-size: clamp(3.74vb, 4vw, 4.62vb);
  }
}
