.welcome-container {
  position: relative;
  text-align: center;
  // padding-block: 80px 220px;
  padding-block: 9vh 24.5vh;

  .welcome-line {
    color: var(--color);
    margin-block: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--overlay);
  }

  .welcome-line {
    font-size: clamp(34px, 4vw, 42px);
  }
  @media screen and (min-width: 1280px){
      .welcome-line {
        font-size: 2.2vw;
    }
  }

  &:not(:has(+ .featured-buttons-container)){
    padding-bottom: 9vh;
  }
  + .mass-times-container {
    margin-top: calc(0.5 * var(--homepage-section-spacing));
  }
}
