.staff-member {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;

  .staff-member-image {
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  .staff-member-info {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);

    .staff-member-title {
      margin-block: 0 10px;
      font-family: var(--font-heading);
      font-weight: bold;
      font-size: 24px;
    }

    .staff-member-position {
      font-size: 16px;
      color: var(--clr-secondary);
      font-size: 18px;
      font-weight: bold;
      font-family: var(--font-main);
    }

    .staff-member-contact-wrapper {
      border-top: 1px solid var(--clr-secondary);
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 16px;
      padding-top: 10px;
      gap: 20px;

      a {
        color: var(--clr-secondary);

        &:hover {
          text-decoration: none;

          i {
            color: white;
            background: var(--clr-secondary);
          }
        }

        i {
          transition: var(--tr-background), var(--tr-color);
          border-radius: 50%;
          border: 1px solid var(--clr-secondary);
          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
        }
      }
    }
  }
}
